In [6]:
class Student:
    name=['Rahul Kumar','Dhakad','nitin']
    branch='computer science'
    COLLEGE='IET Lucknow'

In [7]:
stu_obj= Student()
stu_obj.name

['Rahul Kumar', 'Dhakad', 'nitin']

In [8]:
stu_obj.branch="information technology"

In [9]:
stu_obj.branch

'information technology'

In [10]:
stu_obj.college='gweca'

In [11]:
stu_obj.college

'gweca'

In [54]:
class ListFunction:
    ls= [25,41,63,85,74,96,112,113,117,75,963,42,14,52,77,88,55,66,33,22,11,44,55,88,99,66,74,52,1]
    def counti(self):
     count=0
     for i in self.ls:
         count+=1
     print(count)
    ls = [25,41,63,85,74,96,112,113,117,75,963,42,14,52,77,88,55,66,33,22,11,44,55,88,99,66,74,52,1]
    def average_finder(self):
      sum=0
      count=0
      for i in self.ls:
       if i>=50 and i<=100 and i%2==0:
         sum+=i
         count+=1
      avg=sum/count
      print(avg )
    def ave(self):
      for i in range(50,101):
        sum=0
        count=0
        if i%2==0:
         sum+=i
         count+=1
         avg=sum/count
      print(avg)

In [55]:
sobj= ListFunction()

In [56]:
sobj.average_finder()

72.88888888888889

In [57]:
sobj.average_finder()

72.88888888888889

In [61]:
class Student:
    # name='Rahul Kumar'
    def __init__(self,name,student_branch,student_college):
        self.student_name= name 
        self.branch= student_branch
        self.college= student_college
        print("I am executed")

In [62]:
obj= Student(name='Rahul Kumar',student_branch="cse",student_college="iet lucknow")
myobj=Student(name='Arushi Mathur',student_branch="cse",student_college="gweca")

I am executed
I am executed

In [63]:
myobj.student_name

'Arushi Mathur'

In [28]:
myobj.branch

'cse'

In [29]:
myobj.college

'gweca'

In [9]:
class Faculty:
    Faculty_course="Computer science"
    def __init__(self,subject,teacher_name,student_name):
        self.Faculty_subject=subject
        self.Faculty_teacher_name=teacher_name
        self.Faculty_student_name=student_name
    def show_data(self):
        print(self.Faculty_subject)
        print(self.Faculty_teacher_name)
        print(self.Faculty_student_name)

In [10]:
myobj=Faculty(subject="Java",teacher_name="Ranjit Singh",student_name="Arushi Mathur")

In [11]:
myobj.show_data()

Java
Ranjit Singh
Arushi Mathur

In [69]:
myobj.Faculty_course

'Computer science'

In [70]:
myobj.Faculty_student_name

'Arushi Mathur'

In [71]:
myobj.Faculty_teacher_name

'Ranjit Singh'

In [14]:
class Hotel:
    hotel_name="Ananta"
    def __init__(self,room,rating,location):
        self.hotel_room=room
        self.hotel_rating=rating
        self.hotel_location=location
    def show_data(self):
        print(self.hotel_room)
        print(self.hotel_rating)
        print(self.hotel_location)

In [15]:
myobj=Hotel(room='101',rating="5 stars",location='Ajmer')

In [17]:
myobj.show_data()

101
5 stars
Ajmer

In [95]:
myobj.hotel_name

'Ananta'

In [96]:
myobj.hotel_location

'Ajmer'

In [12]:
myobj.hotel_rating

AttributeError: 'Student' object has no attribute 'hotel_rating'

In [23]:
class Student:
    college_name="IET Lucknow"
    def __init__(self,name,branch,ls_of_subject):
        self.student_name=name
        self.branch=branch
        self.subject=ls_of_subject
    def display(self):
        print("my branch",self.branch)
        print("my name",self.student_name)
        print("my subject",self.college_name)
        print(self.college_name)
    @classmethod #decorator
    def display2(cls): #cls refers to class
        print("my college name is:",cls.college_name)
    @staticmethod
    def display3(college_name): 
        print("mycollege name is:",college_name)

In [24]:
myobj=Student(name="Arushi",branch="cse",ls_of_subject=['physics','math','chemistry'])

In [25]:
myobj.display3("gweca") #using object

mycollege name is: gweca

In [20]:
Student.display2() #using class name

my college name is: IET Lucknow

In [31]:
#inheritance
class Faculty:
    college_name="IET Lucknow"
    total_staff= 200
       
class Student(Faculty):
    total_student=5000
    branch='cse'

In [27]:
faculty_obj=Faculty()
faculty_obj.

SyntaxError: invalid syntax (1759072681.py, line 2)

In [32]:
student_obj=Student()
student_obj.college_name

'IET Lucknow'

In [73]:
class Father:
    def __init__(self,Name,age):
        self.father_name=Name
        self.father_age=age
    def display1(self):
        print(self.father_name)
        print(self.father_age)
        
class Son(Father):
    
    def __init__(self,son_name,son_age,Name,age):
        self.son_name=son_name
        self.son_age=son_age
        super().__init__(Name,age)
    def display(self):
        print(self.son_name)
        print(self.son_age)

In [61]:
myobj=Father(Name="J.N Mathur",age=42)

In [62]:
myobj.display()

J.N Mathur
42

In [74]:
myobj=Son(son_name="Shubh",son_age=18,Name="J.N Mathur",age=42)

In [76]:
myobj.display()
myobj.display1

Shubh
18

In [80]:
class Manager:
    def __init__(self,manager_id,manager_password):
        self.manager_id = manager_id
        self.manager_password=manager_password
    def display(self):
        print(self.manager_id)
        print(self.manager_password)
class Employee(Manager):
    def __init__(self,employee_id,employee_password,manager_id,manager_password):
        self.employee_id=employee_id
        self.employee_password=employee_password
        super().__init__(manager_id,manager_password)
    def display1(self):
        print(self.employee_id)
        print(self.employee_password)

In [81]:
myobj=Employee(employee_id=1,employee_password=132,manager_id=1,manager_password=2)
myobj.display()
myobj.display1()

1
2
1
132

In [68]:
class Arushi:
    def __init__(self,arushi_id,arushi_password):
        self.arushi_id=arushi_id
        self.arushi_password=arushi_password
    def display(self):
        print(self.arushi_id)
        print(self.arushi_password)
class Nikita(Arushi):
    def __init__(self,nikita_id,nikita_password,arushi_id,arushi_password):
        self.nikita_id=nikita_id
        self.nikita_password=nikita_password
        super().__init__(arushi_id,arushi_password)
    def display1(self):
        print(self.nikita_id)
        print(self.nikita_password)

In [69]:
myobj=Nikita(nikita_id=1,nikita_password=3,arushi_id=1,arushi_password=6)
myobj.display()
myobj.display1()

1
6
1
3